@using Biblioteca.Models.Entity

@model   List<Categoria> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1> CATEGORIA</h1>
<a href="boton">
    <i class="fa fa-plus" aria-hidden="true"></i> <label>Nuevo</label>
    
</a>
<table border="1">
    <thead>
        <tr>
            <th> Detalle</th>
            <th> Editar</th>
            <th> Eliminar</th>
            <th>Id</th>
            <th>ValorIneterno</th>
            <th>valor</th>

           
        </tr>
    </thead>
    @foreach (Categoria cat in Model)
    {
        <tr>
            <td class="center">
                <a href="boton">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </td>
             <td>
                  <a href="@Url.Action("Editar","Categoria", new {id= cat.CategoriaId} )" >
                        <i class="fa fa-pencil"></i>
                  </a>
             </td>
              <td class="center">
                  <a href="boton">
                      <i class="fa fa-remove" aria-hidden="true"></i>
                  </a>
             </td>
            <td>
                 @cat.CategoriaId
            </td>
            <td>
                @cat.ValorInterno
            </td>
            <td>
                @cat.Valor
            </td>
           
        </tr>

    }
    
</table>