@using Biblioteca.Models.ViewModels.Libro

 @*aqui declaramos la clase de la vista con modelo en minuscula , solo se ponde una vez por vista*@ 

@model  Aleatorio 
@{
    ViewBag.Title = "Aleatorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="rojo">Aleatorio</h1>

@*aqui es el objeto y Model con mayuscula *@

  @Html.Partial("_Aleatorio_LibroAleatorio",Model.libro)

<hr>

<h1 class="rojo"> valores de tabla sinsentido</h1>
@*aqui es el objeto y Model con mayuscula *@
@Html.Partial("_Aleatorio_SinSentido",Model.listaSinSentido)

